[submodule "extern/ENCRYPTO_utils"]
	path = extern/ENCRYPTO_utils
	url = https://github.com/encryptogroup/ENCRYPTO_utils.git
[submodule "extern/OTExtension"]
	path = extern/OTExtension
	url = https://github.com/encryptogroup/OTExtension.git
[submodule "extern/boost-cmake"]
	path = extern/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
